<%= render 'layouts/shared/page_title', title: "Create a new recipe" %>

<div class="container center">

<%= form_for @recipe do |f| %>
<p>
	<%= f.label :name %>
	<br>
	<%= f.text_field :name %>	 
</p>
<p>
	<%= f.label :description %>
	<br>
	<%= f.text_area :description %>	 
</p>

<p>
	<%= f.label :chef_id%>
	<br>
	<%= f.text_field :chef_id %>	 
</p>

<%= f.submit class:"btn btn-success"%>

<% end %>
<br>

<%= link_to "GO to listings", recipes_path, class:"btn btn-primary"%>
</div>
